//configuration example to your jenkins
//don't put base64 password like this. It's just to show how to work!!
registry=http://172.17.0.3:8081/repository/npm-gdc-hosted/
email=beroucry@gmail.com
always-auth=true
_auth=YWRtaW46YWRtaW4xMzQwMA==